body {
	text-align: center;
	font-family: "Century Gothic", Helvetica, serif;
	margin: 0px;
}

/*橫幅內容*/

.jumbotron {
  color: white;
  background-color: #004466;
  background-image: url(images/banner.png);
  margin-bottom: 4px;
}
#header {
		padding: 96px 0 96px 0;
		/*background: url("images/banner.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;*/
		text-align: center;
		position: relative;
		/*cursor: default;*/
		margin-bottom: -20px;
		margin-top: -410px;
}

/*水平線：horizonn（海軍藍）horizont（蒂芬尼綠）*/

.horizont {
  border-top: 4px #33cccc solid;
}
.horizonn {
  border-top: 4px #004466 solid;
}


/*社群網站按鈕*/

.socialmedia {
	padding: 10px;
	position: absolute;
	z-index: 1;
	width: 100%;
	margin-top: -45px;
}
.socialmedia a i {
	margin-right: 5px;
	margin-bottom: 10px;
	float: right;
	clear: right;
	opacity: 0.5;
}
.socialmedia a {
	color: white;
	opacity: 0.5;
}
.socialmedia a:hover {
	color: #99ffdd;
	opacity: 1;
	transition: color.5s, opacity.5s;
}

/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: #33cccc;
  opacity: 0.6;
  padding-top: 10px;
}
.footer a {
	color: #004466;
	opacity: 1;
}
.footer a:hover {
	color: white;
	transition: .5s;
	opacity: 1;
}
.backtotop {
	text-align: right;
}
